html 
{
    position: relative;
    min-height: 100%;
}

body 
{
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

img
{
    width: 335px;
    height: 320px;
}

footer 
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
main
{
    margin-top: 30px;
}
.left-space-10
{
    margin-left: 10px;
}

.visible 
{
    visibility: block;
}

.not-visible 
{
    display: none;
}

@media screen and (max-width: 185px) 
{
    footer:lang(es)
    {
        position: relative;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
    }   
}

/*Code from https://codepen.io/adalab/pen/NzOzQx?editors=1111 for the collapsable menus*/
.collapsible 
{
    border: 1px solid #05c;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.collapsible__label 
{
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
    background: #0099e0;
    color: white;
    cursor: pointer;
}
.collapsible__content
{
    padding: 20px;
    display: none;
}
.collapsible--visible .collapsible__label 
{
    background: #0066d1;
}
.collapsible--visible .collapsible__content 
{
    display: block;
}
  
  