html 
{
    position: relative;
    min-height: 100%;
}

body 
{
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

.justify-text
{
    text-align: justify;
}

.shopping-preview-right
{
    margin-left: 50%;
}

.shopping-preview-left
{
    margin-right: 50%;
}

img
{
    width: 335px;
    height: 320px;
}

footer 
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
main
{
    margin-top: 30px;
}
.left-space-10
{
    margin-left: 10px;
}

.visible 
{
    visibility: block;
}

.not-visible 
{
    display: none;
}

.scroll 
{
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}

article > div > p
{
    margin-bottom: 0px;
    text-align: justify;
}

.material-card > h2 > strong
{
    font-size: .8em;
}

.mobile .material-card > h2 > strong.moreReducedText
{
    font-size: 14px !important;
}

.mc-active > h2 > span > p.reducedText, .mc-active > strong.reducedText
{
    font-size: x-large;
}

p.reducedText 
{
    font-size: large;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.mc-active > h2 > span > p.moreReducedText
{
    font-size: medium;
}

.mc-active > h2 > strong.moreReducedText
{
    font-size: 12px !important;
}

.mobile .mc-active > h2 > strong.moreReducedText
{
    font-size: 9px !important;
}

p.moreReducedText
{
    font-size: 11px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

strong.moreReducedText
{
    font-size: 15px !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 185px) 
{
    footer:lang(es)
    {
        position: relative;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
    }   
}

/*Code from https://codepen.io/adalab/pen/NzOzQx?editors=1111 for the collapsable menus*/
.collapsible 
{
    border: 1px solid #05c;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.collapsible__label 
{
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
    background: #0099e0;
    color: white;
    cursor: pointer;
}
.collapsible__content
{
    padding: 20px;
    display: none;
}
.collapsible--visible .collapsible__label 
{
    background: #0066d1;
}
.collapsible--visible .collapsible__content 
{
    display: block;
}
  
/*SLIDER*/
div > .switch
{
    left: 100%;
    padding-right: 15px;
}
/* The switch - the box around the slider */
.switch 
{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
  /* Hide default HTML checkbox */
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before 
{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider 
{
    background-color: #2196F3;
}
  
input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before 
{
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
/* Rounded sliders */
.slider.round 
{
    border-radius: 17px;
}
  
.slider.round:before 
{
    border-radius: 50%;
}


/*COLORS*/
.material-card.Yellow .mc-btn-action,
.Yellow > h2,.Amber > h2, .Lime > h2 
{
    color:#000000;
}